{% extends '/base.html.twig' %}

{% block body %}
<div class="container-fluid mt-5">
    <div class="row justify-content-center mt-5">
        <div class="col-12 mt-5">
               <p class="mt-2 pt-2 text-justify">Armaturier reconnu, notre offre pour la maison individuelle, les bâtiments
                    collectifs, ouvrages de génie civil, c’est développée depuis plusieurs années. Etudes de sols,
                    études de structures, armatures standard, sur mesure, accessoires de chantier…. Grâce à ces
                    innovations, ce concept global, facile à utiliser et à poser font de FIMUREX le leader du marché.
               </p>
          </div>
     </div>
</div>
{% endblock %}