{% extends '/base.html.twig' %}

{% block body %}
<div class="container-fluid mt-5">
    <div class="row justify-content-center mt-5">
        <div class="col-12 mt-5">
               <p class="mt-2 pt-2">Un projet de construction est une interaction complexe entre le sol, le
                    bâti et son
                    environnement. Fimurex Centre Est propose des solutions pour la sécurité totale de la structure de
                    la maison individuelle.

                    N’hésitez pas à faire appel à un professionnel qualifié maçon, entreprise générale, constructeur,
                    qui saura vous conseiller et qui conduira votre projet de construction de maison au travers :

                    D’une étude Géotechnique préalable - D’une étude béton armé - De la fourniture et pose lors de la
                    construction d’armatures certifiées NF-AFCAB</p>
          </div>
     </div>
</div>
{% endblock %}